	div{
		border: 0.5px solid gray;
	}
	
	div.aTag_Controller_box{
		margin-left: 80%;				
	}
	span.span_aTag_Controller{
		cursor: pointer;
	}
	
	div>span>a.filter_aTag{
		text-decoration: none;
	}
	
	div>ul.filter_item_list_classification{
		position: absolute;
		border: 1px solid black;
		list-style: none;
		width: 240px;
		left: 700px;
		top: 300px;
		z-index: 7;		
	}
	div>ul.filter_item_list_theme{
		position: absolute;
		
		list-style: none;
		width: 240px;		
		left: 800px;
		top: 100px;
		z-index: 7;
	}
	
	div>ul>li.filter_item{			
		float: left;
		width: 80px;
		cursor: pointer;
	}
	
	div.select_box_div{
		position: relative;
		margin-left:80px;
		margin-top:20px;
		margin-right:50px;		
		width: 300px;
		height: 200px;
		float: left;
	}
	
	div>ul.select_box_ul{
		list-style: none;
	}
	
	div>ul>li.select_box{
		position: relative;	
		left: 0;
		top: 0;
		border: 0.5px solid red;
		width: 300px;
		height: 180px;								
	}	
	
	div.select_tourbox{	
		position: absolute;		
		left: 0;
		top: 0;
		margin: 0px;
		z-index: 1;
		background-repeat: no-repeat;
		width: 300px;
		height: 180px;
	}
	div>img.select_img{
		position: relative;
		padding: 0;
		z-index: 2;
		width: 100%;
	}	
	
	div.div_hover_box{
		position: absolute;
		left: 0;
		top: 0;	
		z-index: 3;
		width: 300px;
		height: 180px;	
	}
	
	div.select_blockA{
		position: relative;
		padding: 0;
		z-index: 4;
		background: gray;
		opacity:0.4;
		width: 300px;
		height: 90px;
		cursor: pointer;	
	}
	div.select_blockB{
		position: relative;
		padding: 0;
		background-color: gray;
		z-index: 5;
		width: 300px;
		height: 90px;				
	}
	
	span.first_trip_click{
		margin-left: 80%;
		width: 10%;
		height: 5%;
	}
	
	img.btn_first_trip{
		width: 20px;
		height: 20px;
	}
	div.select_tourbox > img.tour_image{
		width: 100%;
		height: 100%;
	}
	
	span.tour_name{
		width: 300px;
		height: 20px;
		text-align: center;
	}
		
	span._filter_tag{	
		border-radius: 10px;
		background-color: gray;
	}
	
	span._cc_img{
		cursor: pointer;
	}
	
	span._jc_img{
		cursor: pointer;
	}
	
	img._ccimg, img._jcimg{
		width: 20px;
	}
	
	span.filter_tag_exit{
		cursor: pointer;
	}
	
	.brightness {-webkit-filter: brightness(250%);filter: brightness(250%);}